alembic
blinker
Bootstrap-Flask
Click
Faker
Flask
Flask-CKEditor
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
text-unidecode
Werkzeug
WTForms
ipython